Repository ariel-os/ariel-os, pull requests merged in 2024-06, with the labels that each got.

#314 feat(thread-macro): accept Expr as macro parameters
  examples/threading/src/main.rs
  src/riot-rs-macros/src/thread.rs
  src/riot-rs-threads/src/autostart_thread.rs
Labels: UX, threading

#319 riot-rs-embassy: arch/esp: shuffle uses, fix warning
  src/riot-rs-embassy/src/arch/esp/mod.rs
Labels: cleanup

#304 riot-rs-embassy: introduce thread mode executor
  Cargo.lock
  examples/benchmark/laze.yml
  examples/core-sizes/laze.yml
  examples/embassy/laze.yml
  examples/hello-world/laze.yml
  examples/random/laze.yml
  examples/threading-channel/laze.yml
  examples/threading/laze.yml
  laze-project.yml
  src/riot-rs-embassy/Cargo.toml
  src/riot-rs-embassy/src/arch/esp/mod.rs
  src/riot-rs-embassy/src/arch/nrf/mod.rs
  src/riot-rs-embassy/src/arch/rp2040/mod.rs
  src/riot-rs-embassy/src/lib.rs
  src/riot-rs-embassy/src/thread_executor.rs
  src/riot-rs-rt/src/lib.rs
  src/riot-rs-utils/src/env.rs
  src/riot-rs/Cargo.toml
Labels: threading
