Repository ariel-os/ariel-os, pull requests merged in 2024-12, with the labels that each got.

#573 docs(usb-serial-example): clean up the `usb-serial` example
  examples/README.md
  examples/usb-serial/Cargo.toml
  examples/usb-serial/README.md
  examples/usb-serial/src/main.rs
Labels: docs, USB

#529 chore(pedantic): make Clippy happy with `ariel-os-hal`
  clippy.toml
  src/ariel-os-hal/src/dummy/executor.rs
  src/ariel-os-hal/src/dummy/gpio.rs
  src/ariel-os-hal/src/dummy/i2c/controller.rs
  src/ariel-os-hal/src/dummy/mod.rs
  src/ariel-os-hal/src/dummy/usb.rs
  src/ariel-os-hal/src/lib.rs
Labels: HAL

#578 docs(hal): add a portability note regarding when to use `hal` items
  src/ariel-os-hal/src/lib.rs
Labels: docs, HAL

#595 feat(dns): add support for DNS and mDNS, through `embassy-net`
  src/ariel-os-embassy/Cargo.toml
  src/ariel-os/Cargo.toml
Labels: network

#593 docs(macros): update the docs as `OptionalPeripherals` is now hidden
  src/ariel-os-embassy/src/define_peripherals.rs
Labels: docs

#398 feat(threads): add mutex with priority inheritance
  Cargo.lock
  Cargo.toml
  src/ariel-os-threads/src/lib.rs
  src/ariel-os-threads/src/sync/mod.rs
  src/ariel-os-threads/src/sync/mutex.rs
  src/ariel-os-threads/src/threadlist.rs
  tests/laze.yml
  tests/threading-mutex/Cargo.toml
  tests/threading-mutex/laze.yml
  tests/threading-mutex/src/main.rs
Labels: threading

#599 refactor(hal)!: move some GPIO HAL items for consistency
  src/ariel-os-embassy/src/gpio.rs
  src/ariel-os-esp/src/gpio.rs
  src/ariel-os-hal/src/dummy/gpio.rs
  src/ariel-os-nrf/src/gpio.rs
  src/ariel-os-nrf/src/i2c/controller/mod.rs
  src/ariel-os-rp/src/gpio.rs
  src/ariel-os-stm32/src/gpio.rs
Labels: HAL

#465 docs(threading): add multithreading book chapter
  book/book.toml
  book/src/SUMMARY.md
  book/src/multithreading.md
Labels: docs, threading

#600 refactor(threads)!: rename `Guard` to `MutexGuard` for consistency
  src/ariel-os-threads/src/sync/mod.rs
  src/ariel-os-threads/src/sync/mutex.rs
Labels: threading

#611 docs(gpio): clean up gpio example
  examples/README.md
  examples/gpio/README.md
Labels: docs

#609 refactor(config)!: use `const`s instead of fns for `#[ariel_os::config]`
  Cargo.lock
  examples/coap-client/src/main.rs
  examples/coap-server/src/main.rs
  examples/http-server/src/main.rs
  examples/tcp-echo/src/main.rs
  examples/udp-echo/src/main.rs
  examples/usb-keyboard/src/main.rs
  examples/usb-serial/src/main.rs
  src/ariel-os-macros/src/config.rs
  src/ariel-os-macros/tests/ui/config/conflicting_config_kind.rs
  src/ariel-os-macros/tests/ui/config/conflicting_config_kind.stderr
  src/ariel-os-macros/tests/ui/config/misspelled_config_kind.rs
  src/ariel-os-macros/tests/ui/config/no_parameters.rs
  tests/coap/src/main.rs
Labels: network, UX, config, USB

#607 docs(threading-channel): Clean up the threading-channel example
  examples/README.md
  examples/threading-channel/README.md
  examples/threading-channel/src/main.rs
Labels: docs, threading

#620 feat(buildinfo): introduce a `const` with the OS name
  Cargo.lock
  examples/usb-keyboard/src/main.rs
  examples/usb-serial/src/main.rs
  src/ariel-os-buildinfo/src/lib.rs
  src/ariel-os-embassy/Cargo.toml
  src/ariel-os-embassy/src/usb.rs
Labels: USB

#631 cleanup(threads): drop unused `asm` import
  src/ariel-os-threads/src/arch/cortex_m.rs
Labels: threading, cleanup

#605 docs(threading): clean up the threading example
  examples/threading/README.md
Labels: docs, threading

#633 refactor(hal)!: move the peripheral-related macros
  book/src/application.md
  examples/blinky/src/pins.rs
  examples/gpio/src/pins.rs
  examples/http-server/src/pins.rs
  examples/usb-keyboard/src/pins.rs
  src/ariel-os-embassy/src/lib.rs
  src/ariel-os-hal/src/define_peripherals.rs
  src/ariel-os-hal/src/lib.rs
  src/ariel-os-macros/src/spawner.rs
  src/ariel-os-macros/src/task.rs
  tests/gpio-interrupt-nrf/src/main.rs
  tests/gpio-interrupt-stm32/src/main.rs
  tests/gpio/src/pins.rs
  tests/i2c-controller/src/pins.rs
  tests/spi-loopback/src/pins.rs
  tests/spi-main/src/pins.rs
Labels: docs

#622 feat(laze): define flashing tasks in corresponding modules
  laze-project.yml
Labels: build system

#638 refactor!: stop re-exporting `ariel-os-rt` and hide another item
  src/ariel-os-embassy/src/lib.rs
  src/ariel-os/src/lib.rs
Labels: docs

#645 build: share cargo target dir per builder
  laze-project.yml
Labels: enhancement, build system
