Repository ariel-os/ariel-os, pull requests merged in 2024-10, with the labels that each got.

#463 fix(nrf52): fix support for the microbit-v2 board
  Cargo.lock
  laze-project.yml
  src/riot-rs-boards/microbit-v2/Cargo.toml
  src/riot-rs-boards/nrf52/Cargo.toml
  src/riot-rs-boards/nrf52/build.rs
  src/riot-rs-nrf/Cargo.toml
Labels: board

#460 feat(runqueue): add RunQueue iterator
  src/riot-rs-runqueue/src/lib.rs
  src/riot-rs-runqueue/src/runqueue.rs
Labels: threading

#464 feat(i2c-controller): add support for I2C controller on nrf52833
  src/riot-rs-nrf/src/i2c/controller/mod.rs
  src/riot-rs-nrf/src/i2c/mod.rs
  tests/i2c-controller/README.md
  tests/i2c-controller/laze.yml
  tests/i2c-controller/src/main.rs
  tests/i2c-controller/src/pins.rs
Labels: arch

#442 bump esp-hal to v0.21.0
  Cargo.lock
  Cargo.toml
  laze-project.yml
  src/riot-rs-esp/Cargo.toml
  src/riot-rs-esp/src/gpio.rs
  src/riot-rs-esp/src/i2c/controller/mod.rs
  src/riot-rs-esp/src/lib.rs
  src/riot-rs-threads/src/arch/xtensa.rs
  tests/threading-lock/Cargo.toml
Labels: arch

#494 ci(rustdoc): render the storage module docs
  .github/workflows/build-deploy-docs.yml
Labels: docs, CI
